body {
  background-color: #a9afbf;
}

h2 {
  font-family: adobe-garamond-pro, serif;
  font-weight: 700;
  font-style: italic;
  font-size: 28px;
}

p {
  font-family: adobe-garamond-pro, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
}

/* unvisited link */
a:link {
  color: black;
}

/* visited link */
a:visited {
  color: black;
}

/* mouse over link */
a:hover {
  color: white;
}

/* selected link */
a:active {
  color: white;
}

body {
  background-color: #a9afbf;
}

h2 {
  font-family: adobe-garamond-pro, serif;
  font-weight: 700;
  font-style: italic;
  font-size: 28px;
}

p {
  font-family: adobe-garamond-pro, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
}

/* unvisited link */
a:link {
  color: black;
}

/* visited link */
a:visited {
  color: black;
}

/* mouse over link */
a:hover {
  color: white;
}

/* selected link */
a:active {
  color: white;
}

.page-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}
.page-container .static {
  position: fixed;
  top: 40px;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.page-container .static .site-header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
.page-container .static .site-header__logo-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
}
.page-container .static .site-header__img {
  width: 100%;
  height: 100%;
}

.entry,
.garnish,
.jarrolds,
.mixers,
.booze {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

.entry__copy,
.garnish__copy,
.jarrolds__copy {
  margin-top: 10px;
}

.entry__imgwrap {
  margin-top: 60px;
}

body {
  background-color: #a9afbf;
}

h2 {
  font-family: adobe-garamond-pro, serif;
  font-weight: 700;
  font-style: italic;
  font-size: 28px;
}

p {
  font-family: adobe-garamond-pro, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
}

/* unvisited link */
a:link {
  color: black;
}

/* visited link */
a:visited {
  color: black;
}

/* mouse over link */
a:hover {
  color: white;
}

/* selected link */
a:active {
  color: white;
}

.garnish-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
}
.garnish-grid__item {
  min-height: 100px;
  width: 100px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.garnish-grid__copy {
  font-family: adobe-garamond-pro, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
}
.garnish-grid__img {
  border: 2px solid black;
  border-radius: 15%;
}

body {
  background-color: #a9afbf;
}

h2 {
  font-family: adobe-garamond-pro, serif;
  font-weight: 700;
  font-style: italic;
  font-size: 28px;
}

p {
  font-family: adobe-garamond-pro, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
}

/* unvisited link */
a:link {
  color: black;
}

/* visited link */
a:visited {
  color: black;
}

/* mouse over link */
a:hover {
  color: white;
}

/* selected link */
a:active {
  color: white;
}

.bar-container {
  position: relative;
  width: 500px;
}

.progress-bar {
  position: relative;
  height: 20px;
  width: 100%;
  border-radius: 50px;
  border: 1px solid #333;
}
.progress-bar__filler {
  background-color: darkcyan;
  height: 100%;
  width: 20%;
  border-radius: inherit;
  transition: width 0.2s ease-in;
}

.bar-list {
  position: absolute;
  top: 0px;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  padding: 0;
}
.bar-list__item {
  width: 60px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd,
ul {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* remove underline on links */
a {
  text-decoration: none;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.button-container {
  position: fixed;
  bottom: 80px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.link-container {
  min-width: 150px;
  padding: 8px 30px;
  margin: 0px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  text-transform: uppercase;
  border: 2px solid black;
}

/*# sourceMappingURL=css.main.css.map */
